body {
    margin-top: 0;
}

body, p, div, span, a {
    font-family: Verdana, Georgia, sans-serif;
    font-size: 10pt;
}

a, a:link, a:visited {
    color: #2779aa;
}
a:hover, a:active {
    color: #ff6a00;
}

input {
    margin: 0 0 8px 0;
}

header img {
    float: left;
    margin: 3px 4px 0 0;
    border: 0;
}

header h1 {
    float: left;
    margin: 0 0 10px 0;
}
header span.manage {
    float: right;
    margin-top: 6px;
}

article {
    clear: both;
}

#mainPanel {
    position: absolute;
    top: 35px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 1px solid #000;
    overflow: hidden;
}

.unread-item {
    font-weight: bold;
}

.feedTreeAlt {
    margin: 8px;
}

.error {
    font-weight: bold;
    font-size: 11pt;
    color: #f00;
}

.articleLink {
    font-weight: bold;
    font-size: 13pt;
}

.articleActions {
    margin-top: 10px;
    padding-top: 6px;
    border-top: 1px dotted #000;
}

.openid {
    background-repeat: no-repeat; background-position: left;
    border: 1px solid black;
    padding: 3px 6px 3px 6px;
}
.openidGoogle {
    background-image: url(../image/google.ico.png); 
}
.openidMyopenid {
    background-image: url(../image/myopenid.ico.png);
}
.openidCustom {
    background-image: url(../image/openid.ico.png);
}

.manageForm label {
    float: left;
    width: 100px;
}
tr.manage {
    vertical-align: top;
}
