@model SmallRss.Web.Models.Home.IndexViewModel
<div id="mainSplitter">
    <div>
        <div id="jqxTreeLoading" data-bind="visible: loadingFeeds()">Please wait, loading...</div>
        <div id="jqxTreeNoSubscriptions" data-bind="visible: !loadingFeeds() && !anyFeeds()">You don't yet have any feed subscriptions - <a href="@Url.Action("", "manage")">add some</a>!</div>
        <div id='jqxTree' data-bind="visible: !loadingFeeds() && anyFeeds()"></div>
    </div>
    <div id="rightSplitter">
		<div style="overflow: scroll">
            <div data-bind="visible: !isFeedSelected()">
                <em>No feed selected.</em>
            </div>
            <div data-bind="visible: isFeedSelected()">
                Show: <label for="showAllOrUnread_unread"> unread items </label><input type="radio" id="showAllOrUnread_unread" name="showAllOrUnread" value="unread"@if (!Model.ShowAllItems) { <text> checked="checked"</text>} />
                <label for="showAllOrUnread_all"> all items </label><input type="radio" id="showAllOrUnread_all" name="showAllOrUnread" value="all"@if (Model.ShowAllItems) { <text> checked="checked"</text>} />
                &nbsp;
                <input type="button" id="markAllRead" value="Mark all read" data-bind="visible: anyItemsInFeed()" />
            </div>
            <div data-bind="visible: isFeedSelected() && !anyItemsInFeed()">
                <p>
                    <em>No items in the feed.</em>
                </p>
            </div>
            <div id="jqxgrid" data-bind="visible: isFeedSelected() && anyItemsInFeed()"></div>
		</div>
		<div style="overflow: scroll">
            <div data-bind="visible: !isArticleSelected()">
                <em>No article selected.</em>
            </div>
            <div id="articleBody" data-bind="visible: isArticleSelected">
                <p>
                <a href="#" target="_blank" data-bind="text: articleTitle, attr: { href: articleUrl }"></a>
                </p>
                <p><span data-bind="html: articleBody"></span></p>
                <p>
                    <input type="button" id="keepUnread" value="Keep unread" />
                    <input type="button" id="openArticle" value="Open article" />
                </p>
            </div>
		</div>
    </div>
</div>

@section Scripts {
    @Styles.Render("~/Content/jqwidgets")
    @Scripts.Render("~/bundles/knockoutjs", "~/bundles/jqwidgets", "~/bundles/sammy")
    @Scripts.Render("~/bundles/smallrss")
}