@model SmallRss.Web.Models.Home.LoginViewModel
<h2>Log In</h2>

@if (!string.IsNullOrWhiteSpace(Model.Message)) {
    <p>
    <div class="error">@Model.Message</div>
    </p>
}

<form id="loginform" action="@Url.Action("login")" method="post">
    Login using your Google or MyOpenID account, or enter your own OpenID URL.
    <p>
    <input type="button" class="openid openidGoogle" name="loginWithGoogle" value="    Google" title="Login using your Google account" data-url="https://www.google.com/accounts/o8/id" />
    <input type="button" class="openid openidMyopenid" name="loginWithMyOpenID" value="    MyOpenID" title="Login using your MyOpenID account" data-url="https://www.myopenid.com/" />
    <input type="button" class="openid openidSymantec" name="loginWithSymantec" value="    Symantec" title="Login using your Symantec/Verisign account" data-url="https://pip.verisignlabs.com" />
    </p>

    <p>
    <label for="openid">Your own OpenID: </label><input type="text" id="openid" name="openid" /> <input type="submit" class="openid openidCustom" value="    Login using this OpenID" />
    </p>
</form>

@section Scripts {
<script type="text/javascript">
    $(function () {
        $('input[data-url]').click(function () {
            $('#openid').val($(this).attr('data-url'));
            $('#loginform').submit();
        });
    });
</script>
}
