body, li, div, span, a, td, button { font-family: sans-serif; font-size: 11pt; }
a, a:active, a:link, a:visited, a:hover { color: #000000; }
a:hover { text-decoration: none; }

header h1 { float: left; font-size: 14pt; padding: 5px 5px 0 0; margin: 0; }
header span.actions { float: right; }
header { clear: both; margin: 5px 5px 5px 0px }

.focused { border-width: 2px; border-style: dotted; border-color: #baddff; }
.focused td { border-top-width: 2px; border-top-style: dotted; border-top-color: #baddff; border-bottom-width: 2px; border-bottom-style: dotted; border-bottom-color: #baddff; }

.group-section div, .feed-title { font-size: 13pt; margin-bottom: 3px; padding: 2px; background-color: #baddff; font-weight: bold; cursor: default; }
ul.feed-list { list-style-type: none; padding: 0 0 0 0; margin: 5px 0 20px 0; }
.feed-list li { margin: 2px; padding: 3px; color: #444444; background-color: #f2f9ff; cursor: default; }
.feed-list li:hover { color: #000000; }
.feed-list li[data-count="0"] { color: #aaaaaa; }

table.article-list { width: 100%; }
.article-list td { color: #444444; background-color: #f2f9ff; }
.article-list thead td { font-size: 13pt; font-weight: bold; border-bottom: 2px solid #baddff; }
.article-list tbody tr { cursor: default; }
.article-list tbody tr:hover td { color: #000000; }
			
tr.article { vertical-align: top; }
.article-title { min-width: 30%; }
.article-summary { min-width: 70%; }
.article-date { min-width: 70px; }
.article-pocket { min-width: 32px; text-align: center; }
.article-read { min-width: 32px; text-align: center; }
@media screen and (max-width: 700px) {
	.article-date { display: none; }
}
@media screen and (max-width: 550px) {
	.article-summary { display: none; }
}
.article-marked-read td, tr.article-marked-read:hover { color: #aaaaaa !important; }
.show-all-articles { margin: 10px 0 10px 0; }
			
.article-actions { float: right; padding: 0 0 10px 0; }
div.article-heading { clear: both; font-size: 13pt; font-weight: bold; border-bottom: 2px solid #baddff; border-top: 2px solid #baddff; padding: 10px 0 10px 0; margin: 3px 0 3px 0; }

button.image { background-color: transparent; cursor: pointer; margin: 0 5px 0 5px; padding: 0; border: 0; width: 32px; height: 32px; }
